
.stepsWrapper{
    display: flex;
    position: relative;
  
    
}
.numberDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.num{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 100%;
    color: gray;
}
.line{
   width: 80%;
    
    height: 1px;
    background-color: gray;
    position: absolute;
    left: 57px;
    top: 15px;
   
}